fastapi
uvicorn

sqlalchemy
psycopg2-binary

python-dotenv
redis

python-jose
passlib==1.7.4
bcrypt==4.1.3
python-multipart

email-validator

pandas
numpy
scikit-learn

tensorflow
tensorflow-recommenders